.popUp {
  background: rgba(104, 113, 159, 0.502);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &__title {
    align-items: center;
    background-color: rgb(202, 93, 74);
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: calc(100vh - 85vh - 20px);
    padding: 2rem 0;
    position: relative;
    text-align: center;
    width: 100%;

    &__text {
      font-size: 1.5rem;
      font-weight: 700;
      max-width: 50%;
    }
  }

  &__text {
    align-items: center;
    background: #e6dfdf;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    max-height: 70vh;
    max-width: 100%;
    padding: 1rem;
    position: relative;

    & span {
      margin: 0.8rem;
    }

    &__bold {
      font-weight: 700;
      text-align: center;
    }

    &__normal {
      color: #8c8a8a;
      font-weight: 400;
    }
  }

  &__buttons {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & button {
      border: none;
      margin: 0.5rem 0;
      padding: 1rem;
      background-color: #15191d;
      color: white;
      border-radius: 5px;
      font-weight: bold;
    }

    &__primary {
      color: #8c8a8a;
    }
  }
}
