.addPhone {
  padding-top: 60px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 5px;
  }

  &__form {
    max-width: 35%;
    text-align: center;

    &__input {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0.25rem;

      & p {
        margin: 0;
      }

      &__text {
        outline: none;
      }

      &__error {
        border: 1px solid red;
        outline: none;
      }

      & img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
      }
    }

    &__button {
      margin: 20px;
      padding: 10px 20px;
    }
  }
}

@media (max-width: 600px) {
  .addPhone {
    &__form {
      max-width: 80%;
    }
  }
}
